extends layout


block content
  container
    nav(class='navbar fixed-top navbar-dark bg-dark')
      span(class='navbar-brand mb-0 h1') Dashboard
      span(class="navbar-text navbar-right") signed in as #{username}
    br
  container
    .row
      .col-2
        h2 User
        form(method='POST' action='/updateUsername')
          div.form-group
            input.form-control(type='text' id='username' placeholder='username' value=username name='username' required autocomplete="off")
            button.btn.btn-primary(type='submit') update username
        form(method='POST' action='/updateApiToken')
          div.form-group
            input.form-control(type='text' id='apiToken' placeholder='API token' value=token name='apiToken' required autocomplete="off")        
            button.btn.btn-primary(type='submit') update api token
        form(method='POST' action='/updatePassword')
          div.form-group
            input.form-control(type='password' id='password' placeholder='Current password' name='password' required autocomplete="off")
          div.form-group
            input.form-control(type='password' id='password_new' placeholder='New password' name='password_new' required autocomplete="off")
            small(class="form-text text-muted") The password must be at least 10 characters long.
            small(class="form-text text-muted") The password must contain at least one uppercase letter.
            small(class="form-text text-muted") The password must contain at least one number.
            small(class="form-text text-muted") The password must contain at least one special character.
          div.form-group
            input.form-control(type='password' id='password_new_verify' placeholder='Verify new password' name='password_new_verify' required autocomplete="off")

            button.btn.btn-primary(type='submit') Change password

      .col-4
        h2 System
        .row-justify-content-center
          h4 Time
          div
            h2(style="display: inline-block" id='sys_time') 0

            hr
            .row
              .col
                h4 CPU
                div
                  h2(style="display: inline-block" id='cpu_usage') -
                  h4(style="display: inline-block") %
              .col
                h4 TEMP
                div
                  h2(style="display: inline-block" id='cpu_temp') -
                  h4(style="display: inline-block") &#8451;
            hr
            .row
              .col
                h4 SD
                  div
                    h2(style="display: inline-block" id='sd_usage') -
                    h4(style="display: inline-block") %
              .col
                h4 RAM
                div
                  h2(style="display: inline-block" id='ram_usage') -
                  h4(style="display: inline-block") %
            hr
            .row-justify-content-center
              h3 Network
                div
                  h4= "monitor"
                  div(id='mon_nic')

                hr
                div
                  h4= "bridge"
                  div(id='br_nic')

      .col
        h2 Status

        .row-justify-content-center
          div
            h2(id='current_tap_status') Not running

        .row-justify-content-center
          div
            button.btn.btn-info(onClick='testApiConnection()') test API connection
            span(id='connection_status') not tested
        br
        .row
          .col
            div
              button.btn.btn-success(onClick='startTap()') start tap

            div
              button.btn.btn-danger(onClick='stopTap()') stop tap






  script.
    const socket = io();


    function testApiConnection(){
        document.getElementById('connection_status').innerHTML = "checking..."
        socket.emit('testApiConnection');
    }


    function startTap(){

        socket.emit('startTap');
    }

    function stopTap(){
        socket.emit('stopTap');
    }

    socket.on('tap_status_change', function(status){

      document.getElementById('current_tap_status').innerHTML = status
    })



    socket.on('datetime', function(sys_time) {document.getElementById('sys_time').innerHTML = sys_time});

    socket.on('cpu_usage', function(cpu_data) {document.getElementById('cpu_usage').innerHTML = cpu_data});

    socket.on('filesys', function(sd_data) {document.getElementById('sd_usage').innerHTML = sd_data});

    socket.on('ram_usage', function(ram_data) {document.getElementById('ram_usage').innerHTML = ram_data});

    socket.on('cpu_temp', function(cpu_temp) {document.getElementById('cpu_temp').innerHTML = cpu_temp});

    

    socket.on('connection_status', function(connection_status) {
      if(connection_status.success === false){
        document.getElementById('connection_status').innerHTML = "<span class='offlineText'>"+connection_status.message.message+"</span>"
      }else{
        document.getElementById('connection_status').innerHTML = "<span class='onlineText'>API connected</span>"
      }
      
      
      });


    //Kei experimenteel
    socket.on('nic', function(nic_data) {
      for(let nic in nic_data){
          if(Object.keys(nic_data[nic]).length === 0){
            document.getElementById(nic).innerHTML = "<small class='offlineText'>offline</small>";
          }else{
            document.getElementById(nic).innerHTML = "<small class='onlineText'>online</small>";              
            }
          }
      });
